[Unit]
Description=Gunicorn instance to serve ticket-server
After=network.target

[Service]
Group=www-data
WorkingDirectory=/home/ubuntu/ticket-sheets/
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:ticket-server.sock -m 007 ticket_server.wsgi:app
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
