{% extends "header.html" %}

{% block config %}
<br>
<button type="button" class="btn btn-secondary btn-block btn-sm" data-toggle="collapse" data-target="#options">Adjust Configuration</button>

<div id="options" class="collapse">
    <br>
    <h3>Adjust Config:</h3>
    <form action="config" method="post">
        <div class="input-group mb-2">
            <label for="csvUrl" class="mr-sm-2">CSV URL:</label>
            <input class="form-control mb-2 mr-sm-2" type="url" name="csvUrl" id="csvUrl" value="{{config['csv_url']|default('')}}">
        </div>
        <br>
        <div class="input-group mb-2">
            <label for="filter" class="mr-sm-2">Product Filter:</label>
            <input class="form-control mb-2 mr-sm-2" type="text" name="filter" id="filter" value="{{config['filter']|default('')}}">

            <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="hideOld" value="hide" {% if config['hideOld'] %}checked{% endif %}> Hide Old Bookings
                </label>
            </div>

            <label for="filterDate" class="mr-sm-2">Earliest Date:</label>
            <input class="form-control mb-2 mr-sm-2" type="date" name="filterDate" id="filterDate" value="{{config['old_date']|default('')}}">
            <input type="hidden" name="csvData" value="{{csv_data|default('')}}">
            <input type="hidden" name="csvName" value="{{csv_name|default('')}}">
            <input type="submit" class="btn btn-primary mb-2" value="Update Config" name="submit">
        </div>
    </form>
</div>

<br>
<a style="margin:auto" type="button" class="btn btn-primary btn-block" href="{{config['csv_url']}}" target="_blank">Download Raw CSV</a>
<hr>
<form action="manual" method="post" enctype="multipart/form-data">
    <h3>Process from CSV:</h3>
    <div class="input-group mb-2 mr-sm-2">
        <div class="custom-file mb-2 mr-sm-2">
            <input type="file" class="custom-file-input" name="fileupload" id="fileToUpload">
            <label class="custom-file-label" for="fileToUpload">Choose file</label>
        </div>
        <input type="submit" class="btn btn-primary mb-2 mr-sm-2" value="Upload File" name="submit">
    </div>
</form>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<hr>
<button type="button" class="btn btn-success btn-block btn-lg" onclick="window.print()">Print this page</button>

{% if csv_name %}
    <br><h5 style="text-align: center;">Displaying orders from: <pre>{{csv_name}}</pre></h5>
{% endif %}
{% if fetch_date %}
    <br><h5 style="text-align: center;">Data fetched: {{fetch_date}}</h5>
{% endif %}
{% if not error %}
    {% include "ticket_breakdown.html" %}
{% endif %}
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">
    <h4>{{error}}</h4>
    {% if error_string %}
        <p>{{error_string}}</p>
    {% endif %}
</div>
{% else %}
    {% include "ticket_table.html" %}
{% endif %}
{% endblock %}
