<button type="button" class="btn btn-secondary btn-block btn-sm" data-toggle="collapse" data-target="#breakdown">View Breakdown</button>

<div id="breakdown" class="collapse">
    <br>
    <div class="card-deck">
        {% for date, date_group in breakdown.items() %}
            {% for event, event_bookings in date_group.items() %}
                <!-- Beware these hardcoded widths -->
                <div class="card mb-3" style="min-width: 16rem;max-width:24rem">
                    <div class="card-header">
                        <h4 style="text-align: center">
                            <b>{{date}}</b><br>
                            {{event}}
                        </h4>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered w-auto mx-auto">
                            <tbody>
                                {% for ticket_type in event_bookings.ticket_types %}
                                <tr>
                                    <th class="text-center" scope="row">{{ticket_type}}</th>
                                    <td class="text-center">{{
                                        event_bookings.full_value_tickets[ticket_type]|default(0)
                                        + event_bookings.reduced_tickets[ticket_type]|default(0)
                                    }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <b>Total value:</b> £{{ "%.2f"|format(event_bookings.total_value) }}<br>
                        <b>Orders:</b> {{event_bookings.total_orders}}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
