{% extends "header.html" %}

{% block config %}
<form action="config" method="post">
    <div class="input-group mb-2">
        <label for="filter" class="mr-sm-2">Product Filter:</label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="filter" id="filter" value="{{config['filter']|default('')}}">

        <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="hideOld" value="hide" {% if config['hideOld'] %}checked{% endif %}> Hide Old Bookings
            </label>
        </div>

        <label for="filterDate" class="mr-sm-2">Earliest Date:</label>
        <input class="form-control mb-2 mr-sm-2" type="date" name="filterDate" id="filterDate" value="{{config['old_date']|default('')}}">
        <input type="submit" class="btn btn-primary mb-2" value="Update Config" name="submit">
    </div>
</form>
{% endblock %}

{% block content %}
<div class="card-deck">
    {% for date, date_group in breakdown.items() %}
        {% for event, event_bookings in date_group.items() %}
            <!-- Beware these hardcoded widths -->
            <div class="card mb-3" style="min-width: 16rem;max-width:24rem">
                <div class="card-header">
                    <h4 style="text-align: center">
                        <b>{{date}}</b><br>
                        {{event}}
                    </h4>
                </div>
                <div class="card-body">

                    <table class="table table-bordered w-auto mx-auto">
                        <tbody>
                            {% for ticket_type in event_bookings.ticket_types %}
                            <tr>
                                <th class="text-center" scope="row">{{ticket_type}}</th>
                                <td class="text-center">{{
                                    event_bookings.full_value_tickets[ticket_type]|default(0)
                                    + event_bookings.reduced_tickets[ticket_type]|default(0)
                                }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <b>Total tickets:</b> {{
                        event_bookings.full_value_tickets.values()|sum
                        + event_bookings.reduced_tickets.values()|sum
                    }}<br>
                    <b>Total value:</b> £{{ "%.2f"|format(event_bookings.total_value) }}<br>
                    {% if event_bookings.total_saving != 0.0 %}
                    <b>Total savings:</b> £{{ "%.2f"|format(event_bookings.total_saving) }}<br>
                    {% endif %}
                    {% if event_bookings.total_extra_cost != 0.0 %}
                    <b>Total Extra Value:</b> £{{ "%.2f"|format(event_bookings.total_extra_cost) }}<br>
                    {% endif %}
                    <b>Orders:</b> {{event_bookings.total_orders}}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
<div style="text-align: center;">
    <h3>Grand Totals</h3>
    <b>Total Value:</b> £{{ "%.2f"|format(totals.total_value) }}<br>
    <b>Total Orders:</b> {{totals.total_orders}}<br>
    <b>Total Tickets:</b> {{totals.total_tickets}}<br>
    <br>
    <table id='ticket-types' class="table table-bordered table-sm w-auto mx-auto">
        <!-- <thead><tr><th></th><th></th></tr></thead> -->
        {% for ticket, qty in totals.total_types.items() %}
        <tr><td>{{ticket}}</td><td>{{qty}}</td></tr>
        {% endfor %}
    </table>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#priceModal" id='priceModalOpen'>
        Set prices
    </button>
</div>

<hr>
<div>
    <h2 style="text-align: center;">Presents by Train</h2>
    <table class="table table-bordered table-sm w-auto mx-auto">
        <thead><tr>
            <th></th>
            {% for train in times %}
            <th class="text-center" scope="col">{{train}}</th>
            {% endfor %}
        </tr></thead>
        <tbody>{% for date in dates %}
            <tr>
                <td class="text-center"><b>{{date}}</b></td>
            {% for train in times %}
                <td class="text-center">{{present_breakdown['by-train'][date][train] | default(0)}}</td>
            {% endfor %}</tr>
        {% endfor %}</tbody>
    </table>
</div>
<div class="table-responsive">
    <h2 style="text-align: center;">Presents by Age</h2>
    <table class="table table-bordered table-sm w-auto mx-auto">
        <thead><tr>
            <th></th>
            {% for age in ages %}
            <th class="text-center" scope="col">{{age}}</th>
            {% endfor %}
        </tr></thead>
        <tbody>{% for date in dates %}
            <tr>
                <td class="text-center"><b>{{date}}</b></td>
                {% for age in ages %}
                    <td class="text-center">{{present_breakdown['by-age'][date][age] | default(0)}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
            <tr>
            <td class="text-center"><b>Totals</b></td>
            {% for age in ages %}
                <td class="text-center">{{present_totals[age] | default(0)}}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="priceModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
            <h4 class="modal-title">Set Prices</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <label for='eventSelect'>Event:</label>
                <select id='eventSelect'>
                    {% for date, date_group in breakdown.items() %}
                        {% for event, event_bookings in date_group.items() %}
                        <option>{{date}} {{event}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <hr>
                <p>Rows with blank names are ignored.</p>
                <h5>Event Prices</h5>
                <table id='priceTable' class="table table-bordered table-sm w-auto mx-auto"></table>
                <div class='text-center'>
                    <button type='button' class='btn btn-success btn-sm mx-auto' onclick="addRow('#priceTable');">Add Row</button>
                </div>

                <br>
                <h5>Standard Prices</h5>
                <table id='standardPriceTable' class="table table-bordered table-sm w-auto mx-auto"></table>
                <div class='text-center'>
                    <button type='button' class='btn btn-success btn-sm mx-auto' onclick="addRow('#standardPriceTable');">Add Row</button>
                </div>

                <hr>
                <button type='button' class='btn btn-success' id='savePrices'>Save Prices</button>

            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    function addRow(tableName) {
        $(tableName).append(
            $('<tr>').append(
                $('<td>').append(
                    $('<input>').attr({
                        'size': 8,
                        'class': 'form-control',
                        'id': 'ticket'
                    })
                ),
                $('<td>').append(
                    $('<input>').attr({
                        'size': 5,
                        'type': 'number',
                        'step': 1,
                        'class': 'form-control',
                        'id': 'price'
                    })
                )
            )
        );
    }

    $('#priceModal').on('hidden.bs.modal', function() {
        location.reload();
    });

    $('#priceModal').on('show.bs.modal', fetchPrices);
    $('#eventSelect').on('change', fetchPrices);

    function fetchPrices() {
        // ajax fetch prices of current event
        $.getJSON(
            '/prices',
            {"event": $('#eventSelect').val()},
            loadPriceTable
        );
    }
    function loadPriceTable(result) {
        // populate price tables with received data
        $('#priceTable').empty();  // delete all rows in table

        for (let [ticket, value] of Object.entries(result['event'])) {
            $('#priceTable').append(
                $('<tr>').append(
                    $('<td>').append(
                        $('<input>').attr({
                            'size': 8,
                            'class': 'form-control',
                            'id': 'ticket'
                        }).val(ticket)
                    ),
                    $('<td>').append(
                        $('<input>').attr({
                            'size': 5,
                            'type': 'number',
                            'step': 1,
                            'class': 'form-control',
                            'id': 'price'
                        }).val(value.toFixed(2))
                    )
                )
            );
        }

        $('#standardPriceTable').empty();  // delete all rows in table
        for (let [ticket, value] of Object.entries(result['standard'])) {
            $('#standardPriceTable').append(
                $('<tr>').append(
                    $('<td>').append(
                        $('<input>').attr({
                            'size': 8,
                            'class': 'form-control',
                            'id': 'ticket'
                        }).val(ticket)
                    ),
                    $('<td>').append(
                        $('<input>').attr({
                            'size': 5,
                            'type': 'number',
                            'step': 1,
                            'class': 'form-control',
                            'id': 'price'
                        }).val(value.toFixed(2))
                    )
                )
            );
        }
    }

    $('#savePrices').on('click', function() {
        // ajax post ticket prices, standard prices
        prices = {
            'event': {},
            'standard': {}
        };

        for (row of $('#priceTable tr').toArray()) {
            elements = $(row).children();
            name = $(elements[0]).find('input').val();
            price = $(elements[1]).find('input').val();

            if (name != '' && price != '') {
                prices['event'][name] = parseFloat(price);
            }
        }

        for (row of $('#standardPriceTable tr').toArray()) {
            elements = $(row).children();
            name = $(elements[0]).find('input').val();
            price = $(elements[1]).find('input').val();

            if (name != '' && price != '') {
                prices['standard'][name] = parseFloat(price);
            }
        }

        $.post(
            '/prices',
            {
                'event': $('#eventSelect').val(),
                'prices': JSON.stringify(prices)
            }
        );
    });
</script>
{% endblock %}
