<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
            {% for label in header %}
                <th class="text-center" scope="col">{{ label }}</th>
            {% endfor %}
                <th class="d-print-none"></th>
            </tr>
        </thead>
        <tbody>
        {% for row in bookings %}
            <tr {% if row['booking_type'] == 'totals' %}id='total'{% endif %}>
            {% if row['booking_type'] == 'date' %}
                <td colspan="{{columns}}" class="px-5"><b>{{ row['date'] }}</b></td>
            {% elif row['booking_type'] == 'totals' %}
                <td colspan="4" class="text-center"><b>Totals</b></td>
                <td class="text-center"><!-- total tickets --><b>{{row.data.num_tickets}}</b></td>
                <td colspan="3" class="text-center"><b>Orders:</b> {{row.data.num_orders}}</td>
                <td class="text-center"><!-- total income --><b>{{"%.2f"|format(row.data.total_cost)}}</b></td>
                <td><!-- ticket totals -->
                    {% for ticket, qty in row.data.ticket_totals.items() %}
                    {{ticket}}: {{qty}}<br>
                    {% endfor %}
                </td>
            {% else %}
                {% for label in header %}
                <td class="text-{{ align[label] }}">{{ row['booking'][label] }}</td>
                {% endfor %}
            {% endif %}
                <td class="text-center d-print-none">
                    <button type="button" class="btn btn-warning" onclick="$(this).closest('tr').remove();">Hide</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>