{% extends "header.html" %}

{% block pre_config %}{% endblock %}
{% block config %}{% endblock %}

{% block content %}
<style type="text/css">
    span.extra-needs {
        background-color: aqua;
        border-radius: 0.25rem
    }
    @media print {
        span.extra-needs {
            background-color: rgba(0, 255, 255, 0.3);
        }
    }
</style>
<table class="w-100" style="table-layout: fixed">
    <tr>
        <td class="text-left"><b>SWINDON AND CRICKLADE RAILWAY</b></td>
        <td class="text-center">Exported at <b>{{ exported_at }}</b></td>
        <td class="text-center">Up to Order ID <b>{{ max_order_id }}</b></td>
    </tr>
</table>
<table class="w-100" style="table-layout: fixed">
    <tr>
        <td class="text-left">Santa Tally Sheet for: <b>{{ date }}</b></td>
        <td class="text-center">Pre-Book Children: <b>{{ num_presents }}</b></td>
    </tr>
</table>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
            {# Force all columns to be an equal width #}
            {% set col_width = "%.2f"|format(100 / (train_times|length + 1)) %}
                <th class="text-center" scope="col" style="width: {{ col_width }}%;">#</th>
            {% for train in train_times %}
                <th class="text-center" scope="col" style="width: {{ col_width }}%;">{{ train }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in tally_data %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>
                {% for field in row %}
                <td class="text-center"
                    {% if field.train_limit %}
                        style="border-bottom:4px solid red !important"
                    {% elif field.end_family %}
                        style="border-bottom:4px solid black !important"
                    {% endif %}
                    data-toggle="popover"
                    data-placement="top"
                    data-title="Order {{ field.order_id }}"
                    data-content="Notes: {{ field.needs_codes }}"
                >
                {% if field.needs_codes %}
                <span class="px-2 py-1 extra-needs">{{ field.present }}</span>
                {% else %}
                {{ field.present }}
                {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <thead>
            <tr>
                <th class="text-center">Fam</td>
            {% for families in num_family %}
                <th class="text-center">{{ families }}</td>
            {% endfor %}
            </tr>
            <tr>
                <th class="text-center">Child</td>
            {% for child in num_child %}
                <th class="text-center">{{ child }}</td>
            {% endfor %}
            </tr>
        </thead>
        {# Insert needs summaries #}
        {% for index in range(max_needs) %}
            <tr>
            {% if index == 0 %}
                <th class="text-center">Needs</th>
            {% else %}
                <th class="text-center"></th>
            {% endif %}
            {% for needs in with_needs.values() %}
                <td class="text-center">{{ needs[index] | default("") }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}
