{% extends "header.html" %}

{% block content %}
<div class="card-deck">
    {% for (date, event), event_bookings in breakdown.items() %}
        <!-- Beware these hardcoded widths -->
        <div class="card mb-3" style="min-width: 16rem;max-width:24rem">
            <div class="card-header">
                <h4 style="text-align: center">
                    <b>{{date}}</b><br>
                    {{event}}
                </h4>
            </div>
            <div class="card-body">

                <table class="table table-bordered w-auto mx-auto">
                    <tbody>
                        {% for ticket_type, qty in event_bookings.tickets.items() %}
                        <tr>
                            <th class="text-center" scope="row">{{ticket_type}}</th>
                            <td class="text-center">{{qty}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <b>Total tickets:</b> {{event_bookings.num_tickets}}<br>
                <b>Total value:</b> £{{ "%.2f"|format(event_bookings.total_value) }}<br>
                <b>Orders:</b> {{event_bookings.num_orders}}
            </div>
        </div>
    {% endfor %}
</div>
<div style="text-align: center;">
    <h3>Grand Totals</h3>
    <b>Total Value:</b> £{{ "%.2f"|format(totals.total_value) }}<br>
    {% if totals.walkin_value %}
    <b>Online:</b> £{{ "%.2f"|format(totals.online_value) }},
    <b>Walkin:</b>  £{{ "%.2f"|format(totals.walkin_value) }}<br>
    {% endif %}
    <b>Total Orders:</b> {{totals.num_orders}}<br>
    <b>Total Tickets:</b> {{totals.num_tickets}}<br>
    <br>
    <table id='ticket-types' class="table table-bordered table-sm w-auto mx-auto">
        <!-- <thead><tr><th></th><th></th></tr></thead> -->
        {% for ticket, qty in totals.tickets.items() %}
        <tr><td>{{ticket}}</td><td>{{qty}}</td></tr>
        {% endfor %}
    </table>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#priceModal" id='priceModalOpen'>
        Set prices
    </button>
</div>

{% if presents %}
<hr>
<h2 style="text-align: center;">Presents by Train</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm w-auto mx-auto">
        <thead><tr>
            <th></th>
            {% for train in train_times %}
            <th class="text-center" scope="col">{{ train }}</th>
            {% endfor %}
            <th class="text-center" scope="col" style="border-left:2px solid">Total</th>
        </tr></thead>
        <tbody>{% for date, day_presents in presents.by_train.items() %}
            <tr>
                <td class="text-center"><b>{{ date }}</b></td>
            {% for train in train_times %}
                <td class="text-center">{{ day_presents[train] | default(0) }}</td>
            {% endfor %}
                <td class="text-center" style="border-left:2px solid">{{ presents.by_day[date] | default(0) }}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
</div>
<h2 style="text-align: center;">Presents by Age</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm w-auto mx-auto">
        <thead><tr>
            <th></th>
            {% for age in present_ages %}
            <th class="text-center" scope="col">{{age}}</th>
            {% endfor %}
        </tr></thead>
        <tbody>
        {% for date, day_presents in presents.by_age.items() %}
            <tr>
                <td class="text-center"><b>{{date}}</b></td>
                {% for age in present_ages %}
                    <td class="text-center">{{ day_presents[age] | default(0) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
            <tr>
                <td class="text-center"><b>Totals</b></td>
            {% for age in present_ages %}
                <td class="text-center">{{ presents.age_totals[age] | default(0) }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endif %}

{% if totals.extra_stats %}
<hr>
<h2 style="text-align: center;">Extra Stats</h2>
<div style="text-align: center;">
    <b>Most Expensive:</b> £{{ "%.2f"|format(totals.extra_stats.max_price) }}
    ({{ totals.extra_stats.max_price_ticket_makeup }})
    (Order:{{totals.extra_stats.max_price_order}})<br>

    {% if totals.extra_stats.max_presents_order %}
    <b>Most Presents:</b> {{ totals.extra_stats.max_presents }}  (Order:{{ totals.extra_stats.max_presents_order }})<br>
    {% endif %}
    <b>Average Order Makeup:</b> £{{ "%.2f"|format(totals.extra_stats.average_value) }}
    {{ totals.extra_stats.average_ticket_makeup }}
    <br>
</div>
{% endif %}

<div class="modal" id="priceModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
            <h4 class="modal-title">Set Prices</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <label for='eventSelect'>Event:</label>
                <select id='eventSelect'>
                        {% for event_substrinng in config.price_options %}
                        <option>{{ event_substrinng }}</option>
                        {% endfor %}
                </select>
                <div>
                <input type='text' id='newEventName' placeholder='Update filter'>
                <button type='button' class='btn btn-danger' id='deletePrice'>Delete</button>
                <button type='button' class='btn btn-secondary' id='newPrice'>New</button>
                </div>
                <hr>
                <h5>Prices</h5>
                <table id='priceTable' class="table table-bordered table-sm w-auto mx-auto"></table>
                <div class='text-center'>
                    <button type='button' class='btn btn-success btn-sm mx-auto' onclick="addRow('#priceTable');">Add Row</button>
                </div>

                <hr>
                <button type='button' class='btn btn-success' id='savePrices'>Save Prices</button>

            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    function addRow(tableName) {
        $(tableName).append(
            $('<tr>').append(
                $('<td>').append(
                    $('<input>').attr({
                        'size': 8,
                        'class': 'form-control',
                        'id': 'ticket'
                    })
                ),
                $('<td>').append(
                    $('<input>').attr({
                        'size': 5,
                        'type': 'number',
                        'step': 1,
                        'class': 'form-control',
                        'id': 'price'
                    })
                )
            )
        );
    }

    $('#priceModal').on('hidden.bs.modal', function() {
        location.reload();
    });

    $('#priceModal').on('show.bs.modal', fetchPrices);
    $('#eventSelect').on('change', fetchPrices);

    function fetchPrices() {
        // ajax fetch prices of current event
        $.getJSON(
            '/prices',
            {"event": $('#eventSelect').val()},
            function (result) {
                loadPriceTable(result);
                // set new event name to current event
                $('#newEventName').val($('#eventSelect').val());
            }
        );
    }
    function loadPriceTable(result) {
        // populate price tables with received data
        $('#priceTable').empty();  // delete all rows in table

        for (let [ticket, value] of Object.entries(result)) {
            $('#priceTable').append(
                $('<tr>').append(
                    $('<td>').append(
                        $('<input>').attr({
                            'size': 8,
                            'class': 'form-control',
                            'id': 'ticket'
                        }).val(ticket)
                    ),
                    $('<td>').append(
                        $('<input>').attr({
                            'size': 5,
                            'type': 'number',
                            'step': 1,
                            'class': 'form-control',
                            'id': 'price'
                        }).val(value.toFixed(2))
                    )
                )
            );
        }
    }
    function fetchEvents(callback) {
        // ajax fetch events
        $.getJSON(
            '/prices',
            {"list": true},
            function (result) {
                $('#eventSelect').empty();
                for (event of result) {
                    $('#eventSelect').append($('<option>').text(event));
                }
                if (callback) {
                    callback();
                }
            }
        );
    }

    $('#savePrices').on('click', function() {
        // ajax post ticket prices, standard prices
        prices = {};

        for (row of $('#priceTable tr').toArray()) {
            elements = $(row).children();
            name = $(elements[0]).find('input').val();
            price = $(elements[1]).find('input').val();

            if (name != '' && price != '') {
                prices[name] = parseFloat(price);
            }
        }

        let new_event = $('#newEventName').val();
        $.post(
            '/prices',
            {
                'event': $('#eventSelect').val(),
                'new_filter': new_event,
                'prices': JSON.stringify(prices)
            },
            function (result) {
                fetchEvents(
                    function() {
                        $('#eventSelect').val(new_event).change();
                    }
                );
            }
        );
    });
    $('#newPrice').on('click', function() {
        let new_event = $('#newEventName').val();
        $.post(
            '/prices',
            {
                'new_filter': new_event,
                'new': true
            },
            function (result) {
                fetchEvents(
                    function() {
                        $('#eventSelect').val(new_event).change();
                    }
                );
            }
        );
    });
    $('#deletePrice').on('click', function() {
        $.post(
            '/prices',
            {
                'event': $('#eventSelect').val(),
                'delete': true
            },
            function (result) {
                fetchEvents(fetchPrices);
            }
        );
    });
</script>
{% endblock %}
