{% extends "header.html" %}

{% block post_config %}
{% if no_totals is not defined or no_totals == False %}
<button
    type="button"
    class="btn btn-warning btn-block btn-sm"
    onclick="$('tr#total').remove();$(this).text('Totals Hidden');$(this).prop('disabled',true);$(this).addClass('btn-outline-dark')">
Hide Totals</button>
{% endif %}

{% if show_filter is defined and show_filter == True %}
<hr>
<div class="input-group mb-2">
    <label for="orderFilter" class="mr-sm-2">Filter:</label>
    <input class="form-control mb-2 mr-sm-2" id="orderFilter" type="text" placeholder="Search..">
</div>

<script>
    $(document).ready(function(){
      $("#orderFilter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#orders tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm" id="orders">
        <thead>
            <tr>
                {% for label in header %}
                <th class="text-center" scope="col">{{ label }}</th>
                {% endfor %}
                {# Add an extra column for the hide buttons #}
                <th class="d-print-none"></th>
            </tr>
        </thead>
        <tbody>
        {% for row in bookings %}
            <tr
            {% if row.booking_type == "totals" %}
                id='total' style="border-bottom:4px solid"
            {% elif active == 'tickets' and row.booking_type == "order" and loop.nextitem is defined
            and loop.nextitem.booking_type == "order" and loop.nextitem.booking['Train'] != row['booking']['Train'] %}
                style="border-bottom:4px solid"
            {% endif %}>
            {% if row.booking_type == "date" %}
                <td colspan="{{ columns }}" class="px-5"><b>{{ row.booking['date'] }}</b></td>
            {% elif row.booking_type == "totals" %}
                {% set ns = namespace(skip_count=0) %}
                {% for label in header %}
                    {% if ns.skip_count <= 0 %}
                        <td
                            colspan="{{ row.booking[label][1] }}"
                            class="text-{% if row.booking[label][1] == 1 %}{{ align[label] }}{% else %}center{% endif %}"
                        >{{ row.booking[label][0] }}</td>
                        {% set ns.skip_count = row.booking[label][1] - 1 %}
                    {% else %}
                        {% set ns.skip_count = ns.skip_count - 1 %}
                    {% endif %}
                {% endfor %}
            {% elif row.booking_type == "booking" %}
                {% for label in header %}
                    <td class="text-{{ align[label] }}">{{ row.booking[label] }}</td>
                {% endfor %}
            {% endif %}
                <td class="text-center d-print-none">
                    <button type="button" class="btn btn-warning" onclick="$(this).closest('tr').remove();">Hide</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
